.select {
  position: relative;

  &__input,
  &__dropdown {
    color: #00000099;
    border: 1px solid #393939;
    border-radius: 6px;
  }

  &__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }

  &__icon {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background: #fff;
    animation: open-dropdown 0.3s linear;
    z-index: 10;
  }

  &__item {
    list-style: none;
    cursor: pointer;
  }

  &_large {
    width: 240px;

    .select__input,
    .select__dropdown {
      font-size: 16px;
      line-height: 19px;
    }

    .select__input {
      height: 56px;
      padding: 16px 14px;
    }

    .select__dropdown {
      gap: 21px;
      padding: 11px 14px;
      margin-top: 8px;
    }
  }

  &_small {
    width: 94px;

    .select__input,
    .select__dropdown {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.25px;
    }

    .select__input {
      height: 21px;
      padding: 2px 5px;
    }

    .select__icon {
      height: 9px;
      width: 9px;
    }

    .select__dropdown {
      gap: 5px;
      padding: 5px;
      margin-top: 7px;
    }
  }

  &_close {
    .select__icon {
      transform: rotate(0deg);
    }

    .select__dropdown {
      display: none;
      animation: close-dropdown 0.3s linear;
    }
  }
}

@keyframes open-dropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close-dropdown {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    display: flex;
    opacity: 0;
  }
}
