.input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;

  &_outlined {
    width: 240px;
    height: 56px;
    padding: 16px 26px 16px 16px;

    border: 1px solid #00000080;
    border-radius: 8px;

    .input__textbox {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    .input__clear {
      right: 12px;
    }
  }

  &_underlined {
    width: 178px;
    height: 30px;
    padding-right: 14px;

    color: #000000de;
    border-bottom: 1px solid #000000;

    .input__textbox {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.15px;
      background: transparent;
    }

    .input__clear {
      right: 0;
    }
  }

  &__textbox {
    width: 100%;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__clear {
    position: absolute;
    width: 9px;
    height: 9px;
    cursor: pointer;
  }
}
