.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 60px;

  &__header,
  &__footer {
    height: 60px;
    background: #151515;
  }

  &__content {
    background: #3c3c3c;
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: light) {
  .layout__header,
  .layout__footer {
    box-shadow: -2px 0px 8px 2px #0000001a;
    background: #fff;
  }

  .layout__content {
    background: #fff;
  }
}
