.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  padding: 5px 0;

  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: 18px;

  box-shadow: -2px 0px 8px 2px #0000001a;
  background: #fff;
}
