.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 5px 0;

  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;

  background: #fff;
  box-shadow: -2px 0 8px 2px #0000001a;
}
