.loader {
  &__image {
    animation: spin 2s linear infinite;
  }

  &__title {
    margin-top: 32px;

    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
  }

  &_large {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgb(128 128 128 / 30%);

    .loader__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .loader__image {
      width: 475px;
      height: 465px;
    }
  }

  &_small {
    .loader__image {
      width: 103px;
      height: 100px;
    }
  }
}

@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(0.7) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
