@import 'fonts';

:root {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 100%;

  color: #212121;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}
