@import 'fonts';
@import 'normalize.css';

:root {
  font-synthesis: none;
  color: #212121;
  text-rendering: optimizelegibility;

  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
