.character {
  &__navigation {
    position: absolute;
    top: 102px;
    left: 209px;
    display: flex;
    align-items: center;

    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

    & svg {
      padding: 4px;
      margin-right: 8px;
    }
  }
}
