.character {
  &__navigation {
    position: absolute;
    top: 102px;
    left: 209px;

    display: flex;
    align-items: center;

    font-family: Karla, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;

    & svg {
      margin-right: 8px;
      padding: 4px;
    }
  }
}
